<head>
    <title>Sebastian Messier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="This is Sebastian Messier's personal website.">
    <script type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Sebastian Messier",
        "url": "https://www.sebastianmessier.com/",
        "logo": "https://www.sebastianmessier.com/favicon.ico",
        "email": "mailto:sebastian.messier@gmail.com",
        "sameAs": ["https://sbmsr.medium.com/", "https://www.linkedin.com/in/sebastian-messier-a1b35098/", "https://github.com/sbmsr"]
      }</script>
    <link href="index.css" type="text/css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
    </style>
    <script src="index.js"></script>
</head>