<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126629014-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-126629014-2");
  </script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" />
  <link href="index.css" type="text/css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/2e1a74fcf8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="body-container">
    <div id="about-me">
      <img id="head-shot" src="../assets/png/seb.png" />
      <h1>{{basics.name}}</h1>
      <span>
        Engineer with broad practical knowledge of software, testing, analytics, performance, and agile development.
        <br /><br />
        I care deeply about the end user, collaborating effectively with others, and most importantly, building things
        people need.
      </span>
      <div class="h-line"></div>
      <table id="icon-table">
        <tr id="icon-row">
          <td>
            <a href="../assets/r.pdf">
              <i class="far fa-file"></i>
            </a>
          </td>
          <td>
            <a href="https://www.flickr.com/gp/136351299@N08/1o758y">
              <i class="fas fa-camera-retro"></i>
            </a>
          </td>
          <td id="github-icon">
            <a href="https://www.github.com/r3ticuli">
              <i class="fab fa-github"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>