<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126629014-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-126629014-2");
    </script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" />
    <link href="index.css" type="text/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2e1a74fcf8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="body-container">
    </div>
</body>

</html>